.button {
    display: inline-block;
    padding: .25rem 1.75rem;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    margin: 30px 0;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6DAC41;
        border-radius: 10px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#6DAC41, 10%);
        transition: all .3s;
        border-radius: 10px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.button-blue {
    display: inline-block;
    padding: 3px 30px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #005EAA;
        border-radius: 10px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#005EAA, 10%);
        transition: all .3s;
        border-radius: 10px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.button-save {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    margin: 30px 0;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6DAC41;
        border-radius: 10px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#6DAC41, 10%);
        transition: all .3s;
        border-radius: 10px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.button-green {
    display: inline-block;
    padding: 5px 30px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6DAC41;
        border-radius: 8px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#6DAC41, 10%);
        transition: all .3s;
        border-radius: 8px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.button-red {
    display: inline-block;
    padding: 5px 30px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #C70000;
        border-radius: 8px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#C70000, 10%);
        transition: all .3s;
        border-radius: 8px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.button-yellow {
    display: inline-block;
    padding: 5px 30px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E8BC43;
        border-radius: 8px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#E8BC43, 10%);
        transition: all .3s;
        border-radius: 8px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.button-gray {
    display: inline-block;
    padding: 5px 30px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #C4C4C4;
        border-radius: 8px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#C4C4C4, 10%);
        transition: all .3s;
        border-radius: 8px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.fb {
    background-color: #3B5998;
    color: white;
    width: 50%;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    width: 50%;
}

.google {
    background-color: #dd4b39;
    color: white;
    width: 50%;
}

.button-connect {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #eb560f;
        border-radius: 8px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#eb560f, 10%);
        transition: all .3s;
        border-radius: 8px;
        z-index: -1;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}