.page-title {
    font-family: "Mada-Bold";
    color: #005EAA;
    font-size: 40px;
}

body {
    font-family: "Mada-Regular";
    color: #005EAA;
    font-size: 16px;
}

.text-bold {
    font-family: "Mada-Bold";
    font-weight: bold;
}

p.help-text{
    color: red;
    margin: 0;
}

.text-center{
    text-align: center;
}

.content{
    img{
        width: 100%;
    }
}