.header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    display: table;
    background: transparent linear-gradient(180deg, #235347 0%, #051F20 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}