.kb {
    &-top {
        background: transparent linear-gradient(180deg, #00CCCC 0%, #00687D 63%, #004360 100%) 0% 0% no-repeat padding-box;
        padding: 30px;
    }

    &-white {
        font-family: "Mada-bold";
        color: white;
        font-size: 36px;
    }

    &-content {
        border-radius: 20px;
        opacity: 1;
        padding: 20px;
    }

    &-box{

        &-0 {
            background: #B4C39E 0% 0% no-repeat padding-box;
        }

        &-1 {
            background: #B49494 0% 0% no-repeat padding-box;
        }

        &-2 {
            background: #869DB5 0% 0% no-repeat padding-box;
        }
    }

    &-thumb {
        background-color: #FFFFFF;
        border-radius: 50%;
        border-radius: 50%;
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    &-title {
        font-family: "Mada-bold";
        color: #005EAA;
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
    }
}

.search {
    &-box {
        position: relative;
    }

    &-text {
        position: relative;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &-button {
        cursor: pointer;
        color: #E7E7E7;
        margin: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;

        &:after {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        &:before {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}
