.profile {
    &-thumb {
        background-color: #FFFFFF;
        border-radius: 50%;
        border-radius: 50%;
        position: relative;
        width: 150px;
        height: 150px;

        > span {
            color: white;
            border-radius: 50%;
            padding: 5px 8px;
            background: #6DAC41;
            opacity: 0.6;
            position: absolute;
            bottom: 0;
            right: 0;

            > a {
                color: white;
            }
        }
    }

    &-detail {
        font-size: 20px;
        line-height: 32px;
    }

    &-input > label {
        font-family: "Mada-bold";
        font-size: 20px;
        margin-top: 10px;
    }


}

label.form-label {
    font-family: "Mada-bold";
    font-size: 20px;
    margin-top: 10px;

    select > option {
        font-size: 14px;
    }
}

input.form-control, textarea.form-control {
    &::placeholder {
        color: #005EAA;
        opacity: 0.55;
        font-size: 14px;
    }
}

.border-bottom-blue {
    padding-bottom: 10px;
    border-bottom: 1px solid #005EAA;
}

.kyc {
    &-box {
        margin-top: 20px;
        background: #ccdfee 0% 0% no-repeat padding-box;
        text-align: center;
        padding: 20px;

        > i {
            color: #BBCC28;
        }
    }

    &-text {
        color: #005EAA;
        text-align: center;
    }

}

.form-control.form-control {
    color: #005EAA;
    font-size: 14px;
    border: 1px solid #005EAA;
}

.table-link {
    &:hover {
        cursor: pointer;
    }
}