.project-table {

    color: #005EAA;

    > thead {
        background-color: #235347;
        color: white;
    }

    > tbody > tr {
        border: none;
        background-color: #97DDCB;

        &:nth-child(even) {
            background-color: #50D0AF;
        }

        > td {
            border: none;
        }
    }
}